.container
  margin-top: 30px

.color_auth
  background: linear-gradient(90deg, #aeecf1 0%, rgba(46, 229, 157, 0.4) 50%, #2EE59D 100%)

.navbar_color
  background: linear-gradient(270deg,  #2EE59D 100%, rgba(46, 229, 157, 0.4) 100%)

.color_section
  background: linear-gradient(90deg, rgba(30, 130, 203, 0.58) 0%, #aeecf1 100%)

.form-group
  label
    abbr
      color: red

.button_box
  .btn
    margin: 5px 0px
  .btn:not(first-child)
    margin-left: 5px

.button_new
  .btn
    text-decoration: none
    outline: none
    display: inline-block
    width: 250px
    height: 45px
    line-height: 30px
    border-radius: 15px
    margin: 20px
    font-size: 11px
    text-transform: uppercase
    text-align: center
    letter-spacing: 2px
    font-weight: 600
    color: #524f4e
    background: white
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1)
    transition: .3s

    &:hover
      background: #2EE59D
      box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4)
      color: white
      transform: translateY(-7px)

.alert
  text-align: center
  margin-top: 20px
  border-radius: 15px

.breadcrumb
  padding: 0.8em 1em
  border: 1px solid hsl(0, 0%, 90%)
  border-radius: 5px
  background: linear-gradient(90deg, #aeecf1 0%, rgba(46, 229, 157, 0.4) 50%, #2EE59D 100%)

  ol
    margin: 0
    padding-left: 0
    list-style: none

  li
    display: inline

    + li::before
      display: inline-block
      margin: 0 0.25em
      transform: rotate(15deg)
      border-right: 0.1em solid currentColor
      height: 0.8em
      content: ''

  [aria-current="page"]
    color: #000000
    font-weight: 700
    text-decoration: none

.handle
  cursor: pointer

