= simple_form_for [:admin, @teacher], wrapper: :horizontal_form, html: {class: 'form-horizontal'}  do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :description

  .container
    .row
      .col-md-11.offset-md-3.button_box
        = f.button :submit, 'Зберегти', class: 'btn btn-primary'
        = link_to 'Відмінити', admin_teachers_path, class: 'btn btn-warning'
        = link_to 'Видалити', [:admin, @teacher], class: 'btn btn-danger',
            method: :delete, data: {confirm: 'Бажаєте видалити?'} if @teacher.persisted?