tr
  td
    .text-center
      .btn-group-vertical role="group"
        = link_to [:edit, :admin, teacher], class: 'btn btn-primary bt-sm' do
          i.far.fa-edit
        = link_to [:admin, teacher], class: 'btn btn-danger btn-sm', method: :delete,
            data: {confirm: 'Бажаєте видалити?'} do
          i.far.fa-trash-alt
  td= teacher.first_name
  td= teacher.last_name
  td= teacher.description