h3 Викладачі
hr
.text-right.button_new
  = link_to 'Додати викладача', new_admin_teacher_path, class: 'btn btn-success'

table.table
  thead.table-bordered.table-info
    tr.info.text-center
      th
      th Ім'я
      th Прізвище
      th Опис
  tbody.table-bordered
    = render @teachers

= paginate @teachers, theme: 'twitter-bootstrap-4',
    pagination_class: "pagination-sm",
    nav_class: "d-inline-b"