= simple_form_for [:admin, @course, @lesson], wrapper: :horizontal_form, html: {class: 'form-horizontal'}  do |f|
  = f.input :name
  = f.association :section, label_method: :name
  = f.label :description
  = f.rich_text_area :description

  .container
    .row
      .col-md-11.offset-md-3.button_box
        = f.button :submit, 'Зберегти', class: 'btn btn-primary'
        = link_to 'Відмінити', [:admin, @course, :lessons], class: 'btn btn-warning'
        = link_to 'Видалити', [:admin, @course, @lesson], class: 'btn btn-danger',
            method: :delete, data: {confirm: 'Бажаєте видалити?'} if @lesson.persisted?