tr.lesson data-id=lesson.id
  td
    .text-center
      span.handle
        i.fas.fa-magnet
  td
    .text-center
      .btn-group-vertical role="group"
        = link_to [:edit, :admin, @course, lesson], class: 'btn btn-primary bt-sm' do
          i.far.fa-edit
        = link_to [:admin, @course, lesson], class: 'btn btn-danger btn-sm', method: :delete,
            data: {confirm: 'Бажаєте видалити?'} do
          i.far.fa-trash-alt
  td.position= lesson.position
  td= lesson.name