h3 Зaняття
hr
.text-right.button_new
  = link_to 'Додати заняття', [:new, :admin, @course, :lesson], class: 'btn btn-success'

table.table
  thead.table-bordered.table-info
    tr.info.text-center
      th
      th
      th Номер
      th Назва
  tbody.table-bordered.lessons_sortable data-update-url=admin_api_lessons_mass_update_path
    = render partial: 'section', collection: @course.sections.order(:position)