= simple_form_for [:admin, @discipline], wrapper: :horizontal_form, html: {class: 'form-horizontal'}  do |f|
  = f.input :name

  .container
    .row
      .col-md-11.offset-md-3.button_box
        = f.button :submit, 'Зберегти', class: 'btn btn-primary'
        = link_to 'Відмінити', admin_disciplines_path, class: 'btn btn-warning'
        = link_to 'Видалити', [:admin, @discipline], class: 'btn btn-danger',
            method: :delete, data: {confirm: 'Бажаєте видалити?'} if @discipline.persisted?