h3 Дисципліни
hr
.text-right.button_new
  = link_to 'Додати дисципліну', new_admin_discipline_path, class: 'btn btn-success'

table.table
  thead.table-bordered.table-info
    tr.info.text-center
      th
      th Назва дисципліни
  tbody.table-bordered
    = render @disciplines

= paginate @disciplines, theme: 'twitter-bootstrap-4',
    pagination_class: "pagination-sm",
    nav_class: "d-inline-b"