nav.navbar.navbar-expand-lg.bg-light.navbar_color
  = link_to 'OnSchool', admin_root_path, class: 'navbar-brand'
  - if current_admin
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        - @main_menu.each do |item, options|
          li.nav-link class=(options[:active] ? 'active' : '')
            = link_to options[:path] do
              = options[:name]
              - if options[:active]
                span.sr-only (current)
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link.waves-effect.waves-light
            i.fab.fa-facebook-f
        li.nav-item
          a.nav-link.waves-effect.waves-light
            i.fab.fa-instagram
        li.nav-item
          li.nav-item
            a.nav-link.waves-effect.waves-light
              i.fab.fa-twitter
        li.nav-item
          a.nav-link.waves-effect.waves-light
            i.fab.fa-google-plus-g
      ul.navbar-nav.text-right
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
            | #{current_admin.first_name} #{current_admin.last_name}
          .dropdown-menu.navbar_color aria-labelledby="navbarDropdown"
            a.dropdown-item
              = link_to 'Вийти', destroy_admin_session_path, method: :delete
