tr
  td
    .text-center
      .btn-group-vertical role="group"
        = link_to [:admin, course, :lessons], class: 'btn btn-info bt-sm' do
          i.far.fa-list-alt
        = link_to [:edit, :admin, course], class: 'btn btn-primary bt-sm' do
          i.far.fa-edit
        = link_to [:admin, course], class: 'btn btn-danger btn-sm', method: :delete,
            data: {confirm: 'Бажаєте видалити?'} do
          i.far.fa-trash-alt
  td= image_tag course.course_image.variant(resize_to_limit: [100, nil]) if course.course_image.attached?
  td= course.name
  td= course.teacher.decorate.full_name
  td= course.disciplines_name