= simple_form_for [:admin, @course], wrapper: :horizontal_form, html: {class: 'form-horizontal'}  do |f|
  = f.input :name
  = f.label :course_image
  = f.file_field :course_image
  = f.association :teacher,
          collection: Teacher.all.order(id: :desc).decorate,
          label_method: :full_name
  = f.association :disciplines,
          include_blank: false,
          input_html: {size: Discipline.count}
  = f.rich_text_area :description

  .card
    .card-body.sections_sortable
      = f.simple_fields_for :sections, f.object.sections.order(:position) do |section|
        = render 'section_fields', f: section
      .container
        = link_to_add_association 'Додати секцію', f, :sections, class: 'btn btn-xs btn-success '

  .container
    .row
      .col-md-11.offset-md-3.button_box
        = f.button :submit, 'Зберегти', class: 'btn btn-primary'
        = link_to 'Відмінити', admin_courses_path, class: 'btn btn-warning'
        = link_to 'Видалити', [:admin, @course], class: 'btn btn-danger',
            method: :delete, data: {confirm: 'Бажаєте видалити?'} if @course.persisted?