.nested-fields.card
  .card-header
    .handle
      span.handle.i.fas.fa-magnet
  .card-body
    = f.input :position, as: :hidden
    = f.input :name
    = f.input :description

    .row
      .col-sm-offset-3.col-sm-9
        = link_to_remove_association 'Видалити секцію', f, class: 'btn btn-xs btn-danger'
