h3 Курси
hr
.text-right.button_new
  = link_to 'Додати курс', new_admin_course_path, class: 'btn btn-success'

table.table
  thead.table-bordered.table-info
    tr.info.text-center
      th
      th
      th Назва
      th Викладач
      th Дисципліни
  tbody.table-bordered
    = render @courses.decorate

= paginate @courses, theme: 'twitter-bootstrap-4',
    pagination_class: "pagination-sm",
    nav_class: "d-inline-b"