doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title OnSchool
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload'
  body
    = render 'admin/shared/main_menu'
    .container
      - if current_admin
        .row
          .col-md-12
            ol.breadcrumb
              = render_breadcrumbs tag: :li, separator: ""
      .row
        .col-md-12
          = render_flash
      .row
        .col-md-12
          = yield